.my-apps {
  flex-direction: column;
  align-items: flex-start;
}

.my-apps__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.my-apps__item {
  height: 300px;
  width: 300px;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(201deg, #02283f, #24242c);
}

.my-apps__img {
  height: 75px;
}

.my-app {
  padding: 50px;
  position: relative;
  z-index: 1;
  line-height: 150%;
}

.my-app__title-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
  align-items: center;
}

.my-app__icon {
  height: 100px;
  border-radius: 5px;
  grid-row-start: 1;
  grid-row-end: 4;
}
.my-app__title {
  margin: 0;
}
.my-app__text {
  margin: 0;
}

.my-app__link {
  cursor: pointer;
  text-decoration: none;
  color: #9090a0;
}

.my-app__list {
  font-weight: 700;
}
.my-app__list-item {
  font-weight: 400;
}

.my-app__text-span {
  font-weight: 700;
}

@media screen and (max-width: 670px) {
  .my-apps__container {
    flex-direction: column;
    align-items: center;
  }
}
