.my-apps {
  flex-direction: column;
  align-items: flex-start;
}

.my-apps__container {
  display: grid;
  gap: 50px;
  grid-template-columns: auto auto;
  justify-content: center;
  width: 100%;
}

.my-apps__item {
  height: 300px;
  width: 300px;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #02283f;
  box-shadow: 0 4px 12px 0 #24242c85;
  transition: transform 4s ease-in-out 1s;
  cursor: pointer;
}

.my-apps__item:hover {
  background: linear-gradient(201deg, #02283f, #24242c);

  color: #9090a0;
}

.my-apps__img {
  height: 75px;
}

.my-app {
  padding: 70px;
  position: relative;
  z-index: 1;
  line-height: 150%;
}

.my-app__title-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
  align-items: center;
  margin-bottom: 30px;
}

.my-app__img {
  height: 100px;
  border-radius: 5px;
  grid-row-start: 1;
  grid-row-end: 4;
}

.my-app__title {
  margin: 0;
  font-size: 20px;
}

.my-app__text {
  margin: 0;
}

.my-app__text_invisible {
  display: none;
}

.my-app__menu {
  gap: 5px;
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin: 0 0 20px 0;
}

.my-app__menu-item {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 20px 0;
  height: 100%;
  width: 100%;
  text-align: center;
}

.my-app__link {
  font-size: 20px;
  line-height: 120%;
  cursor: pointer;
  text-decoration: none;
  color: #9090a0;
}

.my-app__link_active {
  font-weight: 700;
  text-decoration: underline;
}

.my-app__list {
  font-weight: 700;
}

.my-app__list-item {
  font-weight: 400;
}

.my-app__text-span {
  font-weight: 700;
}

.my-app__faq {
  padding: 40px 0 20px;
  border-bottom: 1px solid #83a7c9;
  display: flex;
  flex-direction: column;
}

.my-app__faq-block {
  display: flex;
  cursor: pointer;
}

.my-app__subtitle {
  margin: 0 0 20px;
  font-size: 18px;
  font-weight: 400;
}

.my-app__icon {
  background-image: url(../../image/plus.png);
  background-position: center;
  background-size: cover;
  height: 24px;
  width: 24px;
  margin-right: 20px;
  transition: transform 4s ease-in-out 1s;
}

.my-app__icon_minus {
  background-image: url(../../image/minus.png);
}

@media screen and (max-width: 670px) {
  .my-apps__container {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    grid-template-columns: auto;
  }
  .my-app__menu {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  .my-app__title-container {
    justify-items: center;
    grid-template-columns: 1fr;
  }
}
