.footer {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: end;
  padding: 50px;
}

.footer__logo {
  max-width: 150px;
}

.footer__copyright {
  grid-column-start: 2;
  grid-column-end: 3;
}

@media screen and (max-width: 540px) {
  .footer__logo {
    max-width: 100px;
  }
}
