/* .page {
  max-width: 1280px;
  font-family: "Inter", "Arial", "sans-serif";
  margin: 0 auto;
  padding: 40px;
  background-color: #5d7280;

  background: linear-gradient(
    135deg,
    #ecf2f8,
    #8b96a4
  )
  min-height: 1vh;
} */

.app {
  max-width: 880px;
  height: 100%;
  background-repeat:no-repeat;
  background-size: cover;
  font-family: "Inter", "Arial", "sans-serif";
  margin: 0 auto;
  background: -webkit-linear-gradient(
    135deg,
    #034064,
    #24242c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    351deg,
    #02283f,
    #24242c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
  color: #ffffff;
}

.main {
  
}

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: end;
  min-height: 42px;
  width: 100%;
  padding: 50px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header__logo {
  max-width: 150px;
}

.nav {
  display: flex;
  align-items: center
}

.nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: flex-end;
}

.nav__list-item {
  text-decoration: none;
  margin-left: 50px;
}

.nav__link {
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
}

.d1 {
  display: flex;

  width: 500px;
  height: 500px;
  background: #83a7c9;
  border-radius: 50%;
  position: relative;
}

.d2 {
  display: flex;
  margin: 25px;
  width: 450px;
  height: 450px;
  background: #6e8ca9;
  border-radius: 50%;
}

.d3 {
  display: flex;
  margin: 25px;
  width: 400px;
  height: 400px;
  background: #5f7992;
  border-radius: 50%;
}

.d4 {
  display: flex;
  margin: 25px;
  width: 350px;
  height: 350px;
  background: #46596c;
  border-radius: 50%;
}

.d5 {
  display: flex;
  margin: 25px;
  width: 300px;
  height: 300px;
  background: #33404e;
  border-radius: 50%;
}

.d6 {
  display: flex;
  margin: 25px;
  width: 250px;
  height: 250px;
  background-image: url(./image/26.jpg);
  background-size: cover;
  background-position: left top;
  border-radius: 50%;
}

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 400px;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  position: relative;
}
.lead__title {
  font-size: 54px;
  position: absolute;
  top: 130px;
  left: 580px;
}
.lead__subtitle {
  font-size: 24px;
  position: absolute;
  top: 230px;
  left: 580px;
}

.d11 {
  display: flex;

  width: 500px;
  height: 500px;
  background: #172634;
  border-radius: 50%;
  position: relative;
}

.d21 {
  display: flex;
  margin: 25px;
  width: 450px;
  height: 450px;
  background: #21364a;
  border-radius: 50%;
}

.d31 {
  display: flex;
  margin: 25px;
  width: 400px;
  height: 400px;
  background: #2d4b66;
  border-radius: 50%;
}

.d41 {
  display: flex;
  margin: 25px;
  width: 350px;
  height: 350px;
  background: #3a6285;
  border-radius: 50%;
}

.d51 {
  display: flex;
  margin: 25px;
  width: 300px;
  height: 300px;
  background: #4778a2;
  border-radius: 50%;
}

.d61 {
  display: flex;
  margin: 25px;
  width: 250px;
  height: 250px;
  background: #5086b6;
  /* background-image: url(../image/6.jpg); */
  background-size: cover;
  background-position: left top;
  border-radius: 50%;
}

.section {
  display: flex;
  align-items: center;
  padding: 50px;
  margin: 0 auto;
}

.section_right {
  flex-direction: row-reverse;
}

.section__text {
  line-height: 150%;
  font-size: 18px;
  margin: 0;
}

.feedback {
  align-items: flex-start;
  gap: 45px;
}

.feedback__form {
  display: grid;
  row-gap: 10px;
}

.feedback__label {
  font-size: 12px;
  color: #9090a0;
}

.feedback__input {
  min-height: 35px;
  background: #eeeef0;
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 25px;
  width: 100%;
}

.feedback__btn {
  min-height: 45px;
  background: #828282;
  border: 1px solid #535252;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  transition: transform 4s ease-in-out 1s;
}

.feedback__btn:hover {
  background: #c3c3c3;
}

.feedback__contact {
  margin-top: 97px;
  display: grid;
  gap: 15px;
}



.section__link {
  color: #9090a0;
  cursor: pointer;
}

.feedback__social-icons {
  display: flex;
  gap: 25px;
  margin-top: 8px;
}

.feedback__icon {
  display: block;
  background-color: #eeeef0;
  height: 35px;
  width: 35px;
  border-radius: 5px;
  transition: transform 4s ease-in-out 1s;
}

.feedback__icon:hover {
  background-color: #b9b9b9;
}

.feedback__icon_tg {
  background-image: url(./image/telegram.svg);
}

.feedback__icon_wa {
  background-image: url(./image/whatsapp2.svg);
}

.app {
  flex-direction: column;
  align-items: flex-start;
}

.section__title {

}

.app__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.app__item {
height: 300px;
width: 300px;
border-radius: 20px;
padding: 30px;
display: flex;
flex-direction: column;
justify-content: space-around;
background: linear-gradient(
  201deg,
  #02283f,
  #24242c
);
}

.app__img {
  height: 75px;
}

.footer {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: end;
  padding: 50px;
}

.footer__logo {
  max-width: 150px;
}

.footer__copyright {
  grid-column-start: 2;
  grid-column-end: 3;
}